{% load static %}

<!DOCTYPE HTML>
<html lang="es">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover"/>

    <title>Llena tu mochila -  {% block title %}Inicio{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'node_modules/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'TuMochilaapp/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'TuMochilaapp/fonts/css/fontawesome-all.min.css' %}">
    {#    <link rel="stylesheet" href="{% static 'sweetalert2/dist/sweetalert2.min.css' %}">#}
    <link rel="stylesheet" type="text/css" href="{% static '' %}">

    {#    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'mochilaapp/app/icons/icon-192x192.png' %}">#}
</head>

<body class="theme-light" data-background="none" data-highlight="red2">

<div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>

<div id="page">

    {% block header %}
        <div class="header header-fixed header-logo-center">
            <a href="index.html" class="header-title">Sticky Mobile</a>
            <a href="#" data-back-button class="header-icon header-icon-1"><i class="fas fa-arrow-left"></i></a>
            <a href="#" data-toggle-theme class="header-icon header-icon-4"><i class="fas fa-lightbulb"></i></a>
        </div>
    {% endblock %}


    {% block footer %}
        <div id="footer-bar" class="footer-bar-1">
            <a href="index.html"><i class="fa fa-home"></i><span>Home</span></a>
            <a href="index-components.html"><i class="fa fa-star"></i><span>Features</span></a>
            <a href="index-pages.html" class="active-nav"><i class="fa fa-heart"></i><span>Pages</span></a>
            <a href="index-search.html"><i class="fa fa-search"></i><span>Search</span></a>
        </div>
    {% endblock %}



    {% block content %}{% endblock %}

</div>


<script type="text/javascript" src="{% static 'TuMochilaapp/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'TuMochilaapp/js/bootstrap.min.js' %}"></script>
{#<script src="{% static 'sweetalert2/dist/sweetalert2.min.js' %}"></script>#}
<script type="text/javascript" src="{% static 'TuMochilaapp/js/custom.js' %}"></script>

{#{% include 'alert_messages.html' %}#}

</body>
