{% extends 'app/base.html' %}
{% load static %}

{% block title %}{{ country.country }}{% endblock %}



{% block content %}

    <div id="page-cont ">
        <div>
            <div class="content d-flex mt-4 ml-3 row">
                <h1>{{ country.country }}</h1>
                <div id="information" class="card-deck">
                    <div class="card  col-lg-3" style="width: 18rem;">
                        <div class="card-body">
                            <h4 class="card-title">Comida:</h4>
                            <p class="card-text">{{ info_country.meal }}</p>
                        </div>
                    </div>
                    <div class="card  col-lg-3" style="width: 18rem;">
                        <div class="card-body">
                            <h4>Museos:</h4>
                            <p>{{ info_country.museum }}</p>
                        </div>
                    </div>
                    <div class="card  col-lg-3" style="width: 18rem;">
                        <div class="card-body">
                            <h4>Monumentos:</h4>
                            <p>{{ info_country.monuments }}</p>
                        </div>
                    </div>
                    <div class="card  col-lg-3" style="width: 18rem;">
                        <div class="card-body">
                            <h4>Ciudades:</h4>
                            <p>{{ info_country.citys }}</p>
                        </div>
                    </div>
                    <div class="card col-lg-3" style="width: 18rem;">
                        <div class="card-body">
                            <h4>Moneda:</h4>
                            <p>{{ country.cod_coin }}</p>
                        </div>
                    </div>
                    <div class="division"></div>
                    <div id="changecoin" class="page-content header-clear-medium">
                        {% if country.cod_coin ==  "EUR" %}
                            <div class="card" style="width: 20rem;">
                                <div class="card-body">
                                    <table>
                                        <th>Moneda</th>
                                        <th>Compra</th>
                                        <th>Venta</th>
                                        {% for change in cambioEuro %}
                                            <tr>
                                                <td>{{ change.cod_coin }}:</td><td> {{ change.buy }}</td><td>{{ change.sell }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        {% elif country.cod_coin ==  "USD" %}
                            <div class="card" style="width: 20rem;">
                                <div class="card-body">
                                    <table>
                                        <tr>
                                            <th>Moneda</th>
                                            <th>Compra</th>
                                            <th>Venta</th>
                                        </tr>
                                        {% for change in cambioDolar %}
                                            <tr>
                                                <td>{{ change.cod_coin }}:</td><td>{{ change.buy }}</td><td>{{ change.sell }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        {%  else %}
                            <div class="card" style="width: 20rem;">
                                <div class="card-body">
                                    <p>Sin información</p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
