{% extends 'app/base.html' %}
{% load static %}

{% block title %}Iniciar sesión{% endblock %}

{% block content %}

    <div id="page-cont">
        <div>
            <div class="content mt-4 mb-0">
                <h1 class="text-center font-600 mb-3">Inicia sesión</h1>
                <div class="d-flex justify-content-center">
                    <form class="form-signin justify-content-center" method="POST">
                        {% csrf_token %}
                        <div class="pb-2">
                            <input type="email" class="form-control" id="email" name="email"
                                   data-label="Email address" placeholder="Email" required style="width:35vh">
                        </div>
                        <div class="pb-1">
                            <input type="password" id="password" name="password" class="form-control"
                                   placeholder="Contraseña" data-label="Password" required style="width:35vh">
                        </div>
                        <button type="submit" class="btn btn-primary rounded-s shadow-l text-uppercase m-2">Inicio sesión</button>
                        <button class="btn btn-primary rounded-s shadow-l text-uppercase m-2"><a href="{% url 'app:register' %}" class="color-theme">Crear una cuenta</a></button>
                    </form>
                </div>
                <div class="d-flex">
                    <div class="pb-2 text-right">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

