{% extends 'mochilaapp/base.html' %}
{% load static %}

{% block title %}Perfil{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="page-content">
        {% if user.picture %}
            <div class="card mb-0 preload-img" data-src="{{ user.picture }}" data-card-height="65vh" >
{#            <img id="foto" src="{{ user.picture }}" alt="Foto avatar">#}
            <div class="card-top">
                <h6 class="text-center mt-3 opacity-50 font-400">Header will appear when Scrolling</h6>
            </div>
            </div>
        {% else %}
            <div class="card mb-0 preload-img" data-src="https://s5.postimg.cc/537jajaxj/default.png" data-card-height="65vh">
{#            <img id="foto" src="https://s5.postimg.cc/537jajaxj/default.png" alt="Foto personal">#}
            <div class="card-top">
                <h6 class="text-center mt-3 opacity-50 font-400">Header will appear when Scrolling</h6>
            </div>
            </div>
        {% endif %}
    </div>
    <div class="card-bottom ml-3 w-50">
        <h1 class="font-40 line-height-xl">{{ user.first_name }},<br>{{ user.last_name }}</h1>
        {% if user.city %}
            <p class="pb-0 mb-0 font-12"><i class="fa fa-map-marker mr-2"></i>{{ user.city }}</p>
        {% endif %}
        {% if user.nickname %}
            <p>{{ user.nickname }}</p><br><br>
        {% endif %}
    </div>
    <div id="footer-bar" class="footer-bar-1">
        <a href="{% url 'mochilaapp:main' %}"><i class="fa fa-home"></i><span>Perfil</span></a>
        <a href="{% url 'mochilaapp:main' %}"><i class="fa fa-search"></i><span>Search</span></a>
        <a href="{% url 'mochilaapp:logout' %}"><img src="{% static 'mochilaapp/images/logout.png' %}" width="25px"><span>Logout</span></a>
        <a href="#" data-menu="menu-settings"><i class="fa fa-cog"></i><span>Settings</span></a>
    </div>
{% endblock %}

{% block footer %}{% endblock %}