{% extends 'tumochila/base.html' %}
{% load static %}

{% block title %}Iniciar sesión{% endblock %}

{% block header %}{% endblock %}

{% block content %}

    <div class="page-content header-clear-medium">

        <div class="card card-style">
            <div class="content mt-4 mb-0">
                <h1 class="text-center font-600 font-40 mb-3">Inciar sesión</h1>

                <form class="form-signin" method="POST">{% csrf_token %}
                    <div class="input-style has-icon input-style-1 pb-1">
                        <i class="input-icon fa fa-user color-theme"></i>
                        <input type="email" class="form-control" id="email" name="email"
                               data-label="Email address" placeholder="Email" required>
                    </div>
                    <div class="input-style has-icon input-style-1 pb-1">
                        <i class="input-icon fa fa-lock color-theme"></i>
                        <span>Contraseña</span>
                        <input type="password" id="password" name="password" class="form-control"
                               placeholder="Contraseña" data-label="Password" required>
                    </div>
                    <button type="submit" class="btn btn-m mt-2 mb-4 btn-full btn-primary text-uppercase font-900">Inicio sesión</button>
                    {#                    <a href="{% url 'profile' %}" class="btn btn-m mt-2 mb-4 btn-full btn-primary text-uppercase font-900">Login</a>#}

                    <div class="d-flex">
                        <div class="w-50 font-11 pb-2 color-theme opacity-60 pb-3 text-left">
                            <a href="{% url 'TuMochilaApp:register' %}" class="color-theme">Crear una cuenta</></div>
                        <div class="w-50 font-11 pb-2 color-theme opacity-60 pb-3 text-right">
                            <a href="{% url 'TuMochilaApp:register' %}" class="color-theme">Recuperar contraseña</a>
                        </div>
                    </div>
            </div>
        </div>
        <div class="footer card card-style">
            <p class="footer-title">
                <img src="{% static 'core/images/logo/VanApp_vertical_imagotype.png' %}" alt="VanApp logo" style="width: 45px;"></p>
            <p class="footer-copyright">Copyright &copy; <span id="copyright-year">{% now "Y" %}</span>. Todos los derechos reservados.</p>
            <p class="footer-links"><a href="" class="color-highlight">Privacy Policy</a> | <a
                    href="" class="color-highlight">Terms and Conditions</a>
            <div class="clear"></div>
        </div>

    </div>


    {#    <div class="login content">#}
    {##}
    {#        <div class="container">#}
    {#            <div class="row mb-4">#}
    {#                <div class="col">#}
    {#                    <div class="logo">#}
    {#                        <img src="{% static 'images/logo/VanApp_horizontal_imagotype.png' %}"#}
    {#                             alt="Touch Safe Logo"#}
    {#                             title="Touch Safe logo" class="mb-2">#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {##}
    {#            <div class="row">#}
    {#                <div class="col">#}
    {##}
    {#                    <form class="form-signin" method="POST">{% csrf_token %}#}
    {#                        <div class="form-group mb-5">#}
    {#                            <label for="email" class="blue-text">Email address</label>#}
    {#                            <input type="email" class="form-control special" id="email" name="email"#}
    {#                                   data-label="Email address" placeholder="" required>#}
    {#                        </div>#}
    {#                        <div class="form-group">#}
    {#                            <label for="password" class="blue-text">Password</label>#}
    {#                            <input type="password" id="password" name="password" class="form-control special"#}
    {#                                   placeholder="" data-label="Password" required>#}
    {#                        </div>#}
    {#                        <p class="pull-right mb-4">#}
    {#                            <a href="{% url 'recover_password' %}">Forgot Password?</a>#}
    {#                        </p>#}
    {#                        <button type="submit" class="btn btn-lg btn-primary btn-block mb-5">Log in</button>#}
    {#                    </form>#}
    {##}
    {#                </div>#}
    {#            </div>#}
    {##}
    {#            <div class="row">#}
    {#                <div class="col">#}
    {#                    <p class="mb-0" style="font-size: 10px;">Version 1.0</p>#}
    {#                    <p class="mb-1" style="font-size: 10px;">Powered by#}
    {#                        <img src="{% static 'images/logo/VanApp_vertical_imagotype.png' %}" alt="VanApp logo" style="width: 45px;"></p>#}
    {#                    <p><a href="#">VanApp Privacy Statement</a></p>#}
    {#                </div>#}
    {#            </div>#}
    {##}
    {#        </div>#}
    {##}
    {#    </div>#}

{% endblock %}

{% block footer %}{% endblock %}