{% extends 'web/base.html' %}
{% load static %}

{% block title %}¡Página no encontrada!{% endblock %}

{% block content %}
    <div class="error error_404">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="title">404</p>
                    <p class="subtitle">Página no<br>encontrada</p>
                    <p class="text">Lo sentimos,<br>la página que buscas<br>no esta disponible.</p>
                    <a href="{% url 'main' %}" class="btn btn-primary button">Volver al inicio</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
