{% extends 'web/base.html' %}
{% load static %}

{% block title %}Algo ha salido mal{% endblock %}

{% block content %}
    <div class="error error_500" style="background-image: url('{% static 'images/bg500.jpg' %}');">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="title">500</p>
                    <p class="subtitle">Error interno</p>
                    <p class="text"><span style="font-weight: bold;">Algo ha salido mal.<br></span><br>Puedes recargar esta<br>página en unos minutos,<br>ir a la página de inicio<br>o contactar con nosotros<br>si el problema persiste.</p>
                    <a href="{% url 'main' %}" class="btn btn-primary button">Volver al inicio</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
